.aparecer {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0.85;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn .5s ease;
}

@keyframes fadeIn {
    from{
        transform: translateY(-10px);
        opacity: 0.8;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    font-size: x-large;
    font-weight: bold;
    margin: 15px;
}

input, select{
    width: 100%;
    padding: 7.5px 0;
    text-align: center;
    border: 2px solid var(--preto-fosco);
    border-radius: 15px;
    background-color: var(--cor-texto);
}

label {
    align-self: flex-start;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
}

.quiz {
    overflow-x: hidden;
    margin: auto;
    width: 70%;
    min-height: 600px;
    height: auto;
    border-radius: 15px;
    border: 2px solid var(--preto);
    align-items: start;
    justify-content: start;
    text-align: start;
    box-shadow: 0 5px 15px var(--box-shadow);
    background-color: var(--preto-fosco);
}

.quiz h1 {
    margin: 0;
    font-weight: 550;
    font-size: xx-large;
    color: var(--cor-texto-quiz)
}

.geral {
    border-top: 2px solid var(--cor-texto);
    padding: 10px;
}

.content {
    font-weight: 550;
    font-size: x-large;
    color: var(--cor-texto-quiz)
}

.img-quiz {
    object-fit: cover;
    display: block;
    width: 100%;
    border-radius: 15px;
    height: 275px;
}

.img-pergunta {
    width: clamp(400px, 80%, 1200px);
    border-radius: 15px;
    object-fit: cover;
    object-position: top;
    align-self: center;
    margin-bottom: 10px;
}

.sumir{
    display: none !important;
}

.erro {
    margin-top: 15px;
    background: rgba(245, 113, 113, 0.5);
    border: 2px solid rgba(245, 113, 113, 0.5);
    border-radius: 5px;
    color: var(--preto);
    font-size: medium;
}

.perguntas{
    width: clamp(400px, 60dvw, 1200px);
    min-height: clamp(600px, 60vh, 900px);
    height: fit-content;
    background-color: var(--preto-fosco);
    color: var(--cor-texto);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.ipt-pergunta{
    align-self: center;
    width: 80%;
    margin: 10px;
    background-color: var(--preto-fosco);
    border: 1px solid var(--cor-texto);
    color: var(--cor-texto);
    font-size: xx-large;
    font-weight: 1000;
    margin-bottom: 15px;
}

.voltar {
    margin-right: auto;
}

.passar {
    margin-left: auto;
    gap: 25px;
}

.navegacao{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

button {
    padding: 8px 3px;
    border: 2px solid var(--cor-texto);
    border-radius: 15px;
    color: var(--preto-fosco);
    cursor: pointer;
    transition: all .5s ease;
}

button:hover {
    scale: 1.1;
}

.ipt-opcao{
    text-align: start;
    margin: 10px;
    background-color: var(--preto-fosco);
    border: 1px solid var(--cor-texto);
    color: var(--cor-texto);
    width: 90%;
    align-self: flex-start;
}

.opcoes{
    border-top: 2px solid var(--cor-texto);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opcao{
    display: flex;
    gap: 13px;
    width: 100%;
}

input[type="checkbox"]{
    display: none;
}

.check {
    align-self: center;
    width: 18px;
    height: 18px;
    border: 2px solid var(--cor-texto);
    border-radius: 15px;
    display: inline-block;
    transition: all .2s ease;
}

.opcao input[type="checkbox"]:checked+.check {
    background-color: var(--cor-texto);
    border-color: var(--cor-texto);
}

.btn{
    width: 90%;
    align-self: center;
    margin: 20px;
}
.btn:hover{
    scale: 1.05;
}

.info{
    font-size: x-large;
    color: red;
}

.svg{
    fill: red;
    cursor: pointer;
    align-self: center;
}