.quiz {
    width: clamp(400px, 60dvw, 1200px);
    min-height: clamp(600px, 60vh, 900px);
    height: fit-content;
    background-color: var(--preto-fosco);
    color: var(--cor-texto);
    border-radius: 15px;
}

.pergunta h3 {
    font-size: xx-large;
    font-weight: 1000;
    margin-bottom: 15px;
}

.pergunta {
    padding: 20px;
}

.opcoes {
    width: 100%;
    border-top: 1px solid var(--cor-texto);
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
    gap: 10px;
}

.opcoes>* {
    width: 100%;
}

.opcao {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    cursor: pointer;
}

.check {
    width: 18px;
    height: 18px;
    border: 2px solid var(--cor-texto);
    border-radius: 15px;
    display: inline-block;
    transition: all .2s ease;
}

.opcao input[type="radio"]:checked+.check {
    background-color: var(--cor-texto);
    border-color: var(--cor-texto);
}

input {
    display: none;
}

img {
    width: clamp(400px, 80%, 1200px);
    border-radius: 15px;
    object-fit: cover;
    object-position: top;
}

.sumir {
    display: none;
    transition: all .5s ease;
}

.guias {
    display: flex;
    margin: 20px;
    position: relative;
    justify-content: space-between;
}

button {
    padding: 8px 3px;
    border: 2px solid var(--cor-texto);
    border-radius: 15px;
    color: var(--preto-fosco);
    cursor: pointer;
    transition: all .5s ease;
}

button:hover {
    scale: 1.1;
}

.voltar {
    margin-right: auto;
}

.passar {
    margin-left: auto;
}

.aparecer{
    display: block;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0.85;    
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}